@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1d1e23;
}
h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
h1 span {
    position: relative;
    color: #bd53ed;
}
h1 span::before {
    content: "";
    right: -8px;
    top: 50%;
    position: absolute;
    height: 30px;
    width: 2px;
    background: #bd53ed;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}