* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  background-color: lightgrey;
  color: #fff;
  font-size: 1.8rem;
}
.top_btn {
  position: fixed;
  bottom: 4rem;
  right: clamp(4.5rem, 4.1667vw, 8rem);
  padding: 1rem;
  background-color: #6238ff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 2.5rem;
  mix-blend-mode: difference;
  z-index: 999;
  transition: 0.5s ease;
}
.top_btn.move {
  bottom: 14rem;
}
nav {
  width: 100%;
  display: flex;
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 2.5rem 0;
  z-index: 9999;
}
.nav_wrap {
  width: 100%;
  height: 6rem;
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
}
.nav_wrap a:hover {
  background-color: #353535;
  color: #fff;
}
nav.dark_nav {
  background: rgba(90, 90, 90, 0.3);
  transition: 0.5s ease;
}
nav.dark_nav a {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
nav.dark_nav a:hover {
  background-color: #fff;
  color: #282828;
}
.mo_nav_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.mo_nav_wrap p {
  font-size: 2.2rem;
  cursor: pointer;
  width: 10rem;
  padding: 1.6rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
}
.mo_nav {
  list-style: none;
  width: 100%;
  height: 100vh;
  font-size: 4rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_wrap.left {
  padding-left: clamp(4.5rem, 4.1667vw, 8rem);
}
.nav_wrap.right {
  justify-content: flex-end;
  padding-right: clamp(4.5rem, 4.1667vw, 8rem);
}
.nav_wrap.right li + li {
  margin-left: 1.5rem;
}

/* 메인 */
.section01 {
  color: #000;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.section01 .main_bg {
  width: 100%;
  height: 100%;
  position: relative;
}

#mainVideo {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.section01 .main_txt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  mix-blend-mode: color-burn;
}
.section01 .main_txt h1 {
  color: #282828;
  /* color: #5a37f5; */
  opacity: 1;
}
.section01 .bottom_txt {
  position: absolute;
  bottom: 5rem;
  font-size: 1.6rem;
  width: 100vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  left: 0;
}
.bottom_txt > p {
  padding-left: clamp(4.5rem, 4.1667vw, 8rem);
  padding-bottom: 0;
}
.bottom_txt .time_txt {
  /* padding-bottom: clamp(3rem, 2.125vw, 4.6rem); */
  transform: rotate(-90deg);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 3.5rem;
  bottom: 15rem;
  font-family: "Courier New", Courier, monospace;
}
.section01 .contents {
  position: absolute;
  top: 0;
  left: 0;
}
.section01 h1 {
  font-size: clamp(20rem, 15.625vw, 30rem);
  line-height: 1;
  mix-blend-mode: difference;
}
.ImgCont img {
  position: absolute;
}
.ImgCont img:first-of-type {
  top: clamp(23rem, 17.1875vw, 33rem);
  left: clamp(25rem, 37.2604vw, 77rem);
  width: clamp(30rem, 32.5521vw, 61.3rem);
  height: clamp(30rem, 32.5521vw, 61.3rem);
}
.ImgCont img:nth-of-type(2) {
  top: clamp(28rem, 23.1771vw, 44.5rem);
  left: clamp(11rem, 17.4479vw, 33.5rem);
  width: clamp(18rem, 16.6667vw, 32rem);
  height: clamp(18rem, 16.6667vw, 32rem);
}
.ImgCont img:nth-of-type(3) {
  top: clamp(25rem, 21.5313vw, 40.5rem);
  left: clamp(50rem, 67.5729vw, 131.5rem);
  width: clamp(10rem, 9.2708vw, 18rem);
  height: clamp(15rem, 12.5vw, 24rem);
}
.ImgCont img:nth-of-type(4) {
  top: clamp(25rem, 34.8958vw, 61rem);
  left: clamp(25rem, 24.4792vw, 47rem);
  width: clamp(20rem, 17.4479vw, 33.5rem);
  height: clamp(28rem, 26.0417vw, 50rem);
}
.ImgCont img:nth-of-type(5) {
  top: clamp(30rem, 32.5521vw, 62.5rem);
  left: clamp(55rem, 59.1146vw, 113.5rem);
  width: clamp(20rem, 28.6458vw, 55rem);
  height: clamp(20rem, 19.2708vw, 37rem);
}
.ImgCont img:nth-of-type(6) {
  top: clamp(10rem, 9.1146vw, 15.5rem);
  left: clamp(14rem, 13.0208vw, 18rem);
  width: clamp(30rem, 36.9792vw, 71rem);
  height: clamp(22rem, 20.8333vw, 40rem);
}

/* section02 */
.section02 {
  position: relative;
  height: 100vh;
  padding: 10rem clamp(4.5rem, 4.1667vw, 8rem);
  color: #fff;
}
.norm_mode {
  background: #b9b9b9;
  background: url(./assets/videos/main_video.mp4);
  transition: background-color 0.5s ease;
}
.dark_mode {
  background: rgba(0, 0, 0, 1);
  /* background: url(./assets/images/sec_btm_grad.png) center/cover; */
  transition: background-color 0.5s ease;
}
/* 컨텐츠별 이미지, 색상 변경 보류 */
.dark_mode.n1 {
  /* background: #5a37f53d; */
  background: rgba(0, 0, 0, 1);
  transition: 0.5s ease-in-out;
}
.dark_mode.n2 {
  /* background: url(./assets/images/main_bg02.webp) center/cover; */
  background: rgba(0, 0, 0, 1);
  transition: 0.5s ease-in-out;
}
.dark_mode.n3 {
  /* background: #ea7ae24a; */
  background: rgba(0, 0, 0, 1);
  transition: 0.5s ease-in-out;
}

.section02 h2 {
  font-size: 10rem;
  font-weight: 500;
  margin: 9.5rem 0 5.5rem 0;
  color: #fff;
}
.section02 ul li {
  color: #fff;
}

/* section03 */
.section03 {
  position: relative;
  height: 90vh;
  padding: 10rem clamp(4.5rem, 4.1667vw, 8rem);
  color: #fff;
}
.section03 .how_to {
  position: absolute;
  top: 20rem;
  right: clamp(4.5rem, 4.1667vw, 8rem);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #282828;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 3s linear infinite;
}
.how_to img {
  width: 85%;
  opacity: 0.8;
}
.section03 h2 {
  font-size: 10rem;
  font-weight: 500;
  margin: 9.5rem 0 5.5rem 0;
}
.section03 .color_wrap {
  display: flex;
  width: 100%;
  align-items: end;
  margin-top: 12rem;
}
.section03 h5 {
  width: 8%;
  font-size: 8rem;
  text-align: right;
}
/* footer */
footer {
  color: rgba(255, 255, 255, 0.8);
  height: 10vh;
  background: #000;
  padding: 0 clamp(4.5rem, 4.1667vw, 8rem);
}
footer .footer_wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  list-style: none;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
footer .footer_wrap h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.icon_wrap {
  display: flex;
}
.icon_wrap a {
  display: flex;
  width: 3rem;
  height: 3rem;
}
.icon_wrap a + a {
  margin-left: 1rem;
}

/* Modal.css */
.Modal_wrap {
  width: 80vw;
  max-width: 150rem;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
}
.close_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.close_btn img {
  width: 100%;
}
.modal_tit {
  font-size: 4rem;
}
@media screen and (max-width: 650px) {
  nav {
    display: none;
  }
  .mo_nav_wrap {
    display: block;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
