* {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.Modal_wrap {
  width: 80vw;
  max-width: 150rem;
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 4rem 3rem 4rem 4rem;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  display: none;
}
.close_btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.close_btn img {
  width: 100%;
}
/* new  */
.modal_conts {
  height: 100%;
}
.modal_wrap {
  height: 100%;
}
.modal_wrap ul {
  height: 75%;
  overflow-y: scroll;
  padding-right: 2rem;
}

.modal_wrap h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.modal_desc p {
  font-size: 1.4rem;
  line-height: 1.4;
  padding-bottom: 2rem;
}
.modal_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: 3rem; */
  /* background-color: red; */
}
.modal_main .left {
  width: calc(55% - 1rem);
  /* height: 30rem; */
  /* background-color: beige; */
}
.modal_main .left img {
  width: 100%;
}
.modal_main .right {
  width: calc(45% - 1rem);
  padding-right: 2rem;
}
.right p {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fc6fc8;
  margin-bottom: 1rem;
}
.right h6 {
  font-size: 2rem;
}
.right h5 {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.right h5 strong {
  font-size: 2.8rem;
}
.right .conts_desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 3rem;
}

/* contents */
.modal_box {
  border-top: 1px solid #c7c7c770;
  margin-top: 3rem;
  padding-top: 3rem;
}
.modal_box dt {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fc6fc8;
  margin-bottom: 1.6rem;
}
.modal_box dd {
  font-size: 1.8rem;
  line-height: 1.8;
}
.modal_box.n2 dd {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 2rem;
}
.modal_box.n2 dd img {
  width: 80%;
}
.modal_box.n3 dd {
  list-style-type: disc;
}
.modal_box.n4 a:hover {
  color: beige;
  font-weight: bold;
}
.modal_wrap ul::-webkit-scrollbar {
  width: 5px;
}
.modal_wrap ul::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
.modal_wrap ul::-webkit-scrollbar-track {
  background-color: transparent;
}
